---
layout: default
current: home
class: 'home-template'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer  background_cover" >
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                    <!--<img class="site-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}"/>-->
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>
		
		<section class="main_imglist">
			<h1 style="text-align:center;">- Design -</h1>
			<script type="text/javascript"src="http://pagead2.googlesyndication.com/pagead/show_ads.js">	</script>
			<ul>
				<li></li>
				<li><img data-sgallery="group1" title="병원 홈페이지디자인" data-full="/thgus900.github.io/assets/images/1_large.jpg" data-thumb="/thgus900.github.io/assets/images/1_small.jpg" src="/thgus900.github.io/assets/images/1_small.jpg"></li>
				<li><img data-sgallery="group1" title="무빙보트 홈페이지 디자인" data-full="/thgus900.github.io/assets/images/2_large.jpg" data-thumb="/thgus900.github.io/assets/images/2_small.jpg" src="/thgus900.github.io/assets/images/2_small.jpg"></li>
				<li><img data-sgallery="group1" title="SNB모바일홈페이지" data-full="/thgus900.github.io/assets/images/3_large.jpg" data-thumb="/thgus900.github.io/assets/images/3_small.jpg" src="/thgus900.github.io/assets/images/3_small.jpg"></li>
				<li><img data-sgallery="group1" title="영플란트모바일 서브" data-full="/thgus900.github.io/assets/images/4_large.jpg" data-thumb="/thgus900.github.io/assets/images/4_small.jpg" src="/thgus900.github.io/assets/images/4_small.jpg"></li>
				<li><img data-sgallery="group1" title="병원 PC서브" data-full="/thgus900.github.io/assets/images/5_large.jpg" data-thumb="/thgus900.github.io/assets/images/5_small.jpg" src="/thgus900.github.io/assets/images/5_small.jpg"></li>
				<li><img data-sgallery="group1" title="랜딩홈페이지" data-full="/thgus900.github.io/assets/images/6_large.jpg" data-thumb="/thgus900.github.io/assets/images/6_small.jpg" src="/thgus900.github.io/assets/images/6_small.jpg"></li>	
				<li><img data-sgallery="group1" title="웹툰 스토리텔링" data-full="/thgus900.github.io/assets/images/7_large.jpg" src="/thgus900.github.io/assets/images/7_small.jpg"
				src="/thgus900.github.io/assets/images/7_small.jpg"></li>
				<li><img data-sgallery="group1" title="병원 웹툰스토리텔링" data-full="/thgus900.github.io/assets/images/8_large.jpg" data-thumb="/thgus900.github.io/assets/images/8_small.jpg" src="/thgus900.github.io/assets/images/8_small.jpg"></li>
				<li><img data-sgallery="group1" title="가격이벤트 팝업" data-full="/thgus900.github.io/assets/images/9_large.jpg" data-thumb="/thgus900.github.io/assets/images/9_small.jpg" src="/thgus900.github.io/assets/images/9_small.jpg"></li>
				<li><img data-sgallery="group1" title="병원 원내 포스터" data-full="/thgus900.github.io/assets/images/10_large.jpg" data-thumb="/thgus900.github.io/assets/images/10_small.jpg" src="/thgus900.github.io/assets/images/10_small.jpg"></li>
				<li><img data-sgallery="group1" title="구인구직 포스터" data-full="/thgus900.github.io/assets/images/11_large.jpg" data-thumb="/thgus900.github.io/assets/images/11_small.jpg" src="/thgus900.github.io/assets/images/11_small.jpg"></li>
				<li><img data-sgallery="group1" title="병원 원내 포스터" data-full="/thgus900.github.io/assets/images/12_large.jpg" data-thumb="/thgus900.github.io/assets/images/12_small.jpg" src="/thgus900.github.io/assets/images/12_small.jpg"></li>
				<li><img data-sgallery="group1" title="이벤트 베너" data-full="/thgus900.github.io/assets/images/13_large.jpg" data-thumb="/thgus900.github.io/assets/images/13_small.jpg" src="/thgus900.github.io/assets/images/13_small.jpg"></li>
				<li><img data-sgallery="group1" title="메인슬라이드" data-full="/thgus900.github.io/assets/images/14_large.jpg" data-thumb="/thgus900.github.io/assets/images/14_small.jpg" src="/thgus900.github.io/assets/images/14_small.jpg"></li>
				<li><img data-sgallery="group1" title="잡지 표지 디자인" data-full="/thgus900.github.io/assets/images/15_large.jpg" data-thumb="/thgus900.github.io/assets/images/15_small.jpg" src="/thgus900.github.io/assets/images/15_small.jpg"></li>
				<li><img data-sgallery="group1" title="이벤트 베너" data-full="/thgus900.github.io/assets/images/16_large.jpg" data-thumb="/thgus900.github.io/assets/images/16_small.jpg" src="/thgus900.github.io/assets/images/16_small.jpg"></li>
				<li><img data-sgallery="group1" title="이벤트 베너" data-full="/thgus900.github.io/assets/images/17_large.jpg" data-thumb="/thgus900.github.io/assets/images/17_small.jpg" src="/thgus900.github.io/assets/images/17_small.jpg"></li>
				<li><img data-sgallery="group1" title="이벤트 베너 / 포스터" data-full="/thgus900.github.io/assets/images/18_large.jpg" data-thumb="/thgus900.github.io/assets/images/18_small.jpg" src="/thgus900.github.io/assets/images/18_small.jpg"></li>
				<li><img data-sgallery="group1" title="메인 슬라이드" data-full="/thgus900.github.io/assets/images/19_large.jpg" data-thumb="/thgus900.github.io/assets/images/19_small.jpg" src="/thgus900.github.io/assets/images/19_small.jpg"></li>
				<li><img data-sgallery="group1" title="이벤트 슬라이드" data-full="/thgus900.github.io/assets/images/20_large.jpg" data-thumb="/thgus900.github.io/assets/images/20_small.jpg" src="/thgus900.github.io/assets/images/20_small.jpg"></li>
				<li><img data-sgallery="group1" title="국회의원 선거명함" data-full="/thgus900.github.io/assets/images/21_large.jpg" data-thumb="/thgus900.github.io/assets/images/21_small.jpg" src="/thgus900.github.io/assets/images/21_small.jpg"></li>
			</ul>					
			<div class="Sfooter">
				<ul class="Sthumbnails">
					<li><a style="background-image:url('/thgus900.github.io/assets/images/1_thumbnail.jpg')"></a></li>
					<li><a style="background-image:url('/thgus900.github.io/assets/images/2_thumbnail.jpg')" ></a></li>
					<li class="sel"><a style="background-image:url('/thgus900.github.io/assets/images/4_thumbnail.jpg')" ></a></li>
				</ul>
			</div>
				
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
			<script src="/thgus900.github.io/assets/js/jquery.sumogallery.js"></script>
				
			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-36251023-1']);
			  _gaq.push(['_setDomainName', 'jqueryscript.net']);
			  _gaq.push(['_trackPageview']);

			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>
		</section>

    </div>
</main>



