---
layout: default
current: home
class: 'home-template'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer {% if page.cover or site.cover %}" style="background-image:  url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                    <!--<img class="site-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}"/>-->
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>
		
		<section class="main_imglist">
			<h1 style="text-align:center;">jQuery sumogallery Plugin Demo</h1>
				<div class="jquery-script-ads" align="center" style="margin:30px auto;"><script type="text/javascript"><!--
				google_ad_client = "ca-pub-2783044520727903";
				/* jQuery_demo */
				google_ad_slot = "2780937993";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script></div>
					<img data-sgallery="group1" title="yup image is cool" data-full="images/1_large.jpg" data-thumb="images/1_thumbnail.jpg" src="images/1_thumbnail.jpg">
					<img data-sgallery="group1" title="this project is on github" data-full="images/2_large.jpg" data-thumb="images/2_thumbnail.jpg" src="images/2_thumbnail.jpg">
					<img data-sgallery="group1" title="hemant negi" data-full="images/4_large.png" data-thumb="images/4_thumbnail.png" src="images/4_thumbnail.png">
					<img data-sgallery="group1" title="cool sumo slider" data-full="images/1_large.jpg" data-thumb="images/1_thumbnail.jpg" src="images/1_thumbnail.jpg">
					<img data-sgallery="group1" title="image data" data-full="images/2_large.jpg" data-thumb="images/2_thumbnail.jpg" src="images/2_thumbnail.jpg">
					<img data-sgallery="group1" title="
					data is oil today" data-full="images/4_large.png" data-thumb="images/4_thumbnail.png" src="images/4_thumbnail.png">
					
					
					<img data-sgallery="group1" title="yup image is cool" data-full="images/1_large.jpg" src="images/1_thumbnail.jpg">
					<img data-sgallery="group1" title="this project is on github" data-full="images/2_large.jpg" data-thumb="images/2_thumbnail.jpg" src="images/2_thumbnail.jpg">
					<img data-sgallery="group1" title="hemant negi" data-full="images/4_large.png" data-thumb="images/4_thumbnail.png" src="images/4_thumbnail.png">
					<img data-sgallery="group1" title="cool sumo slider" data-full="images/1_large.jpg" data-thumb="images/1_thumbnail.jpg" src="images/1_thumbnail.jpg">
					<img data-sgallery="group1" title="image data" data-full="images/2_large.jpg" data-thumb="images/2_thumbnail.jpg" src="images/2_thumbnail.jpg">
					<img data-sgallery="group1" title="data is oil today" data-full="images/4_large.png" data-thumb="images/4_thumbnail.png" src="images/4_thumbnail.png">
					
					
					
					
					
					<div class="SumoGallery" style="display:none;">
						<div class="Sheader">
							<p>Living room title of the new.</p><a>&times;</a>
						</div>
						
						<div class="Sbody">
						<a><img src="images/1_large.jpg" ></a>
						<a><img src="images/2_large.jpg" ></a>
						<a class="sel"><img src="images/4_large.png" ></a>
						</div>
						
						<a class="Sarrow l">&#10092;</a>
						<a class="Sarrow r">&#10093;</a>
						
						<div class="Sfooter">
							<ul class="Sthumbnails">
							<li><a style="background-image:url('images/1_thumbnail.jpg')"></a></li>
							<li><a style="background-image:url('images/2_thumbnail.jpg')" ></a></li>
							<li class="sel"><a style="background-image:url('images/4_thumbnail.png')" ></a></li>
							</ul>
						</div>
					</div>
					
					<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
					<script src="jquery.sumogallery.js"></script>
					<script type="text/javascript">

				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-36251023-1']);
				  _gaq.push(['_setDomainName', 'jqueryscript.net']);
				  _gaq.push(['_trackPageview']);

				  (function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();

				</script>
		</section>

    </div>
</main>
